<div class="wrapper" >
	<h1 id="page_title">Say Hello!</h1>
	<%= bootstrap_form_for(@contact) do |f| %>
		<div class="form-group">
			<%= f.text_field :name, required: true %>
		</div>	
		<div class="form-group ">
			<%= f.text_field :email, required: true %>							
		</div>	
		<br>
		<div class="form-group">
			<%= f.text_area :message, as: :text %>	
		</div>

		<div class="hidden">
			<%= f.text_field :nickname, hint: "leave this field blank" %>
		</div>

		<br>
			<%= f.submit 'Send Message', class: "btn btn-success new-btn"  %>
	<% end %>
</div>


<style>

.wrapper {
	background-image:url(/message.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin: 0 auto;
	padding: 16rem;
	box-sizing: border-box;

}


#page_title{
  color:#538b01;
  text-align: center;
}

.form_text {
  text-align: center;
  
}


@media screen and (max-width: 1366px){ 
	form {
		width: 300px;
		margin: auto;
		text-align: center;
	}

	.wrapper {
		padding: 31.2rem;

	}
	
}

@media screen and (max-width: 1280px){ 
	form {
		width: 300px;
		margin: auto;
		text-align: center;
	}

	.wrapper {
		padding: 15.2rem;
	}
	
}


@media screen and (max-width: 1024px){
	.wrapper{
		padding: 16rem;
		height: 800px;
		padding-top: 150px;
	}
}



@media screen and (max-width: 768px){ 
	form {
		width: 250px;
		margin: auto;
		text-align: center;
	}

	.wrapper {
		padding: 8.5rem; 
		height: 648px;
	}

}


@media screen and (max-width: 414px){
	.wrapper{
		padding: 6rem;
		height: 746px;
		padding-top: 180px;
	}
}

@media screen and (max-width: 375px){
	.wrapper{
		padding: 5rem;
		height: 670px;
		padding-top: 150px;
	}
}

@media screen and (max-width: 320px){
	form {
		width: 140px;
	}
	.wrapper{
		padding: rem;
		height: 570px;
		padding-top: 110px;
	}
}





</style>

